* {
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border-style: solid;
    user-select: none;
}

.grid_column {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.grid_row {
    background-color: rgb(255, 255, 255);
    flex: 1;
}