* {
    box-sizing: border-box;
}

.canvas {
    width: 600px;
    height: 600px;
    border-style: solid;
    user-select: none;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.grid-column {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.grid-row {
    flex: 1;
}

.testing {
    background-color: rgb(255, 0, 0);
}